{{>admin-header}}
<body> 

</body>
<style>
   body {
  background-image: url("/img/admin1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
  height: 100vh;
  background-color: #ffffff;
  opacity: 1;
}


</style> 