{{!-- <header>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" href="/manager">kitchen-Manager</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">aaaa</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/manager/menu/menudisplay">Test route menu dispaly</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Bill</a>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="#">Contact</a>
        </li>

        <a class="btn btn-secondary" href="/manager/logout">Logout</a>

          
        
        
      </ul>
    </div>
  </div>
</nav>
</header> --}}

<header>
    <nav class="navbar navbar-expand-lg bg-dark ">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-dark navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <li class="nav-item ">
          <a class="nav-link text-white active" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/manager/category">Menu</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/manager/dashboard">Dashboard</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="/manager/Ongoing-GuestOrders">Guest Order</a>
        </li>
        
        
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contact</a>
        </li>
        
        

          
        
        
      </ul>
      <div class="">
        <a class="btn btn-secondary " href="/manager/logout">Logout</a>
       </div>
    </div>
  </div>
</nav>
</header>