{{>cashier-header}}

<body>

</body>
<style>
    body{
    background-image: url("/img/cashier5.jpeg");
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: center;
    height: 100vh;
    background-color: #ffffff;
    
}
</style>